@import 'sakura';
.info {
    font-style: italic;
}

body {
    &>header {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: $font-family-sans-serif;
        nav {
            font-size: 1.2em;
        }
    }
}

.emoji {
    width: 1em;
}

.boxlist {
    width: 90%;
    margin: 0 auto;
    .listitem {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
        width: 100%;
        &>.img {
            width: 70px;
            flex: 0 0 70px;
            height: 70px;
            border: solid 1px currentColor;
            flex-grow: 0;
            flex-shrink: 0;
        }
        .right {
            display: flex;
            flex-direction: column;
            margin-left: 1em;
            position: relative;
            width: 100%;
            header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                h3 {
                    padding: 0;
                    margin: 0;
                    line-height: 1.2;
                    font-size: 1.1em;
                }
            }
            p {
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 0;
                line-height: 1.2;
            }
        }
    }
}

p {
    text-align: justify;
}

ul.horizontal,
ol.horizontal {
    margin: 0;
    padding: 0;
    display: inline;
    li {
        display: inline;
        text-transform: lowercase;
        &:not(:first-child) {
            margin-left: .5em;
        }
        &:after {
            content: ',';
        }
        &:last-child:after {
            content: '.';
        }
    }
}

@media (max-width: 475px) {
    body {
        &>header {
            h1 {
                text-align: center;
            }
        }
        .boxlist {
            .listitem {
                .right {
                    header {
                        display: block;
                    }
                }
            }
        }
    }
}

// Small
@media (max-width: 684px) {
    body {
        &>header {
            flex-direction: column;
            &>h1 {
                margin-bottom: .3em;
            }
        }
    }
}

// Very small
@media (max-width: 420px) {
    .boxlist {
        &>.listitem {
            .img {
                width: 50px;
                flex: 0 0 50px;
                height: 50px;
            }
            .right {
                &>p {
                    display: none;
                }
            }
        }
    }
}

svg.break {
    margin: 0 auto; // width: 200px;
    display: block;
    circle,
    line {
        stroke: currentColor;
        fill-opacity: 0;
    }
}

.post {
    .title {
        margin-bottom: 0;
    }
}