#game {
    display: flex;
    width: 80ch;
    height: 60ch;
    border: solid 2px whitesmoke;
    margin: 0 auto;
    user-select: none;
    * {
        cursor: default;
    }
}

#main {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 2ch;
    bottom: 1em;
    p {
        margin-top: 0;
    }
    h1 {
        font-size: 1.4em;
        font-weight: bold;
        text-decoration: none;
    }
}

#controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 1em;
    border-top: solid 2px currentColor;
}

#left {
    position: relative;
    width: 60ch;
}

#sidebar {
    width: 30ch;
    flex-direction: column;
    border-left: solid 2px whitesmoke;
    flex-grow: 1;
    &>* {
        border-top: solid 2px whitesmoke;
        &:first-child {
            border-top: none;
        }
    }
}

#map,
#inventory {
    max-height: 20ch;
    ul {
        list-style: none;
        padding: 1ch;
        margin: 0;
        li {
            text-indent: -1ch;
            padding-left: 1ch;
            padding-bottom: 1ch;
        }
    }
}

#inventory {
    flex-grow: 1;
}

.padded {
    padding: 1ch;
}

#meters {
    padding: 1ch 1ch 0 1ch;
}

#input {
    padding: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    color: currentColor;
    height: 1em;
    margin: 0;
    width: calc(100% - 2ch); // height: 1em;
    float: right;
    border: none;
    cursor: text;
    &:focus {
        outline: none;
    }
}

#prompt {
    width: 2ch;
}