@import 'normalize';
@import 'theme';

header, h1, h2, h3{
    font-family: $font-family-serif;
}

.project-list{
    display:none;
}

.lg-first{
    stop-color:$color-blossom;
}

.lg-second{
    stop-color:$color-fade;
}

body{
    font-size: $font-size-base;
    min-width:320px;
    font-family: $font-family-sans-serif;
    margin-left: 10vw;
    margin-top:12px;
    margin-right: 10vw;
    background-color: $color-bg;
    color: $color-text;
    &>section{
        max-width:960px;
    }
    &>header{
        &>nav{
            text-align: right;
            &>ul>li{
                height:1em;
                &>a{
                    color:currentColor;
                }
            }
        }
        &>svg{
            text-transform: uppercase;
            font-size: 3em;
            max-width:1024px;
        }
    }
}
@media (max-width: 684px) {
    body{
        &>header>nav>ul>li{
            height:.50em;
        }
        &>section{
            font-size: $font-size-base * 0.85;
        }
    }
}

@media (max-width: 382px) {
    body {
        &>header>nav{
            font-size:.25em;
        }
        &>section{
            font-size: $font-size-base * 0.75;
        }
    }
}

ul.horizontal,
li.horizontal{
    list-style-type: none;
    padding-left:0;
    margin:0;
    &>li{
        display:inline-block;
    }
}