@import 'sakura';
.info {
    font-style: italic;
}

h2 {
    margin-bottom: 1rem;
}

h2+p {
    margin-top: 0;
}

.post {
    &>header {
        &>h3,
        &>h2 {
            margin-bottom: 0;
        }
    }
}

.project-list {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    &>.project-item {
        display: grid;
        text-align: left;
        margin-bottom: 1em;
        grid-template-areas: "image title links" "image text text";
        grid-template-columns: minmax(70px, calc(70px + 1em)) 1fr 1fr;
        &>img {
            grid-area: image;
            width: 70px;
            float: left;
            border: solid 1px currentColor;
            height: 70px;
            margin-right: 1em;
        }
        &:last-of-type {
            margin-bottom: 1em;
        }
        &>h5 {
            margin: 0;
            grid-area: title;
        }
        &>ul {
            grid-area: links;
            text-align: right;
        }
        &>p {
            margin: 0;
            text-align: left;
            grid-area: text;
        }
    }
}

body {
    &>header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-family: $font-family-sans-serif;
        nav {
            font-size: 1.2em;
        }
        &>h1 {
            text-align: center;
            margin-bottom: .3em;
        }
    }
}

a:not([href]) {
    color: $color-fade;
    &:hover {
        border: none;
    }
}

.emoji {
    width: 1em;
}

p {
    text-align: justify;
}

ul.horizontal,
ol.horizontal {
    margin: 0;
    padding: 0;
    display: inline;
    li {
        display: inline;
        text-transform: lowercase;
        &:not(:first-child) {
            margin-left: .5em;
        }
        &:after {
            content: ',';
        }
        &:last-child:after {
            content: '.';
        }
    }
}

// Small
@media (max-width: 684px) {}

// Very small
@media (max-width: 420px) {
    .project-list {
        &>.project-item {
            grid-template-columns: minmax(50px, calc(50px + 1em)) 1fr 1fr;
            grid-template-areas: "image title title" "image links links" "image text text";
            &>ul {
                text-align: left;
            }
            &>img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

svg.break {
    margin: 0 auto; // width: 200px;
    display: block;
    circle,
    line {
        stroke: currentColor;
        fill-opacity: 0;
    }
}

.post {
    .title {
        margin-bottom: 0;
    }
}