@import 'sakura';
html {
    font-size: 21px;
    font-family: $font-family-serif;
    line-height: 1.5;
}

@media (min-width: 1080px) {
    body {
        margin: auto;
    }
}

.lg-first {
    stop-color: $color-alt;
}

.lg-second {
    stop-color: $color-main;
}

body {
    min-width: 320px;
}

.info {
    font-style: italic;
}

h1 {
    font-weight: 700;
    font-size: 400%;
    text-align: justify;
    text-justify: inter-word;
}

h2 {
    font-weight: 200%;
    margin-bottom: .5em;
    font-weight: 600;
}

h3 {
    font-weight: 200%;
    font-weight: 400;
}

h4 {
    font-weight: 200%;
    font-weight: 300;
}

p {
    font-weight: 300;
    font-size: 17px;
}

small,
sub,
sup,
.small {
    font-size: 300;
}

.post {
    &>header {
        &>h3,
        &>h2 {
            margin-bottom: 0;
        }
    }
}

section {
    margin-bottom: 1.5em;
}

nav {
    margin-bottom: 1.5em;
}

.project-list {
    line-height: 1.2;
    &>.project-item {
        display: grid;
        text-align: left;
        margin-bottom: 1em;
        grid-template-areas: "image title links" "image text text";
        grid-template-columns: minmax(70px, calc(70px + 1em)) 1fr 1fr;
        &>img {
            grid-area: image;
            border-radius: 5%;
            width: 70px;
            float: left;
            border: solid 1px currentColor;
            height: 70px;
            margin-right: 1em;
        }
        &:last-of-type {
            margin-bottom: 1em;
        }
        &>h3 {
            margin: 0;
            color: $color-alt;
            grid-area: title;
        }
        &>ul {
            grid-area: links;
            text-align: right;
        }
        &>div {
            &>p {
                margin: 0;
            }
            text-align: left;
            grid-area: text;
        }
    }
}

code {
    font-size: 0.9em;
    padding: 0 0.5em;
    background-color: $color-bg-alt;
    white-space: pre-wrap;
}

body {
    &>header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &>svg {
            font-size: 3em;
            font-weight: bold;
            margin-left: -8px;
            max-width: 1024px;
        }
        &>h1 {
            &>a {
                background-image: linear-gradient(to bottom right, #43e97b, #38f9d7);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }
            margin-left: -6px;
            margin-bottom: .3em;
        }
    }
}

a:not([href]) {
    color: $color-fade;
    &:hover {
        border: none;
    }
}

.emoji {
    width: 1em;
}

ul.horizontal,
ol.horizontal {
    margin: 0;
    padding: 0;
    display: inline;
    li {
        display: inline;
        text-transform: lowercase;
        &:not(:first-child) {
            margin-left: .5em;
        }
        &:after {
            content: ',';
        }
        &:last-child:after {
            content: '.';
        }
    }
}

// Small
@media (max-width: 684px) {}

// Very small
@media (max-width: 420px) {
    .project-list {
        &>.project-item {
            grid-template-columns: minmax(50px, calc(50px + 1em)) 1fr 1fr;
            grid-template-areas: "image title title" "image links links" "image text text";
            &>ul {
                text-align: left;
            }
            &>img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

svg.break {
    margin: 0 auto; // width: 200px;
    display: block;
    circle,
    line {
        stroke: currentColor;
        fill-opacity: 0;
    }
}

.post {
    .title {
        margin-bottom: 0;
    }
}

#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: transparentize($color: $color-alt, $amount: .75);
}