@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=latin-ext');
$color-alt: lighten(#FF0604, 15%);
$color-main: lighten(#FFDF02,
15%);
$color-fade: darken(desaturate($color-main, 80%),
30%);
$color-bg: #060808;
$color-bg-alt: lighten($color-bg, 10%);
$color-text: #ffffff;

$font-family-sans-serif: 'Open Sans',
Verdana,
Geneva,
sans-serif;

$font-family-serif: 'Open Sans',
Verdana,
Geneva,
sans-serif;
