@import url('https://fonts.googleapis.com/css?family=Eczar:400,700|Work+Sans:400,700&subset=latin-ext');

$color-blossom: #6924a5;
$color-fade: lighten(#052e34, 20%);
$color-bg: #111112;
$color-bg-alt: #C7E3BE;
$color-text: #f5f5f5;
$font-size-base: 1.6rem;
$font-family-sans-serif: 'Work Sans', sans-serif;
$font-family-serif: 'Eczar', serif;
