<p>
    <span id='greeting'>Greetings</span>! Welcome to a website by me. You may not find anything on here as I tend to use
    it only to host prvate projects and other miscellanea, but from time to time interesting things may find there way on
    here.
</p>