<!DOCTYPE html>
<html lang="en">

<head>
  {{#if title}}
  <title>{{title}} - Kyle Hughes</title>
  {{else}}
  <title>Kyle Hughes</title>
  {{/if}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css'>
  <script type="text/javascript" src="/lib/noise.js"></script>
  <script type="text/javascript" src="/js/ocean.js"></script>
</head>

<body>
  <canvas id='background'></canvas>
  <header>
    <svg viewBox="0 0 409 150" preserveAspectRatio="xMinYMin" width="100%" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <linearGradient id="titleFill" x1="0%" y1="0%" x2="100%" y2="100%">
          <stop class='lg-first' offset="0%" />
          <stop class='lg-second' offset="100%" />
        </linearGradient>
      </defs>
      <g fill="url(#titleFill)">
        <text transform="translate(0, 64)">
          Kyle
        </text>
        <text transform="translate(0, 128)">
          Hughes
        </text>
      </g>
    </svg>
    <nav>
      <ul class="horizontal">
        <li>
          <a href="mailto:kyle.hughes@outlook.com">email</a>
        </li>

        <li>
          <a href="/posts">posts</a>
        </li>
        <li>
          <a href="http://github.com/indigotock">github</a>
        </li>
      </ul>
    </nav>
  </header>
  {{{body}}}

  <hr>
  <footer>
    <small>
      <a href="https://github.com/indigotock/website">This on GitHub</a>
    </small>
  </footer>
</body>

</html>