<!DOCTYPE html>
<html>

<head>
  {{#if title}}
  <title>{{title}} - Kyle Hughes</title>
  {{else}}
  <title>Kyle Hughes</title>
  {{/if}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <script src='/js/index.js'>

  </script>
</head>

<body>
  <header>
    <h1><a href='/'>Kyle Hughes</a></h1>
    <nav>
      <ul class="horizontal">
        <li><a href="mailto:kyle.hughes@outlook.com">email</a></li>
        {{!--
        <li><a href="/posts">posts</a></li> --}}
        <li><a href="http://github.com/indigotock">github</a></li>
      </ul>
    </nav>
  </header>
  {{{body}}}</br>

  <hr>
  <footer>
    This site is built with a number of tools/techs:
    <ul class='horizontal'>

      <li><a href='https://expressjs.com/'>Express</a></li>
      <li><a href='https://elemeno.io/'>Elemeno</a></li>
      <li><a href='https://github.com/oxalorg/sakura'>Sakura</a></li>

      <li><a href='https://letsencrypt.org/'>Let's Encrypt</a></li>
    </ul>
  </footer>
</body>

</html>