<!DOCTYPE html>
<html>

<head>
  <title>{{title}} - Kyle Hughes</title>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Raleway" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/print.css'>
  <link rel='stylesheet' href='/stylesheets/style.css'> {{!--
  <link rel='stylesheet' href='/stylesheets/style.css'>--}}
  <script src='/js/base.js'>

  </script>
</head>

<body>
  <header>
    <h1><a href='/'>Kyle Hughes</a></h1>
    <nav>
      <ul class="horizontal">
        {{!--<li><a href="./ideas">ideas</a></li>--}}
        <li><a href="mailto:kyle.hughes@outlook.com">email</a></li>
        <li><a href="http://github.com/indigotock">github</a></li>
      </ul>
    </nav>
  </header>
  {{{body}}}
</body>

</html>