.bar {
    position: relative;
    height: 1.5em;
    line-height: 1.5em;
    margin-left: 2ch;
    width: 60%;
    display: block;
    color: whitesmoke;
    margin-bottom: .5em;
}

.bar::before {
    color: currentColor;
    text-align: center;
    font-family: FontAwesome;
    position: absolute;
    left: -2.5ch;
    content: attr(data-icon);
    width: 2ch;
}

.bar::after {
    color: whitesmoke;
    left: calc(100% + 1ch);
    max-width: 40%;
    position: absolute;
    content: attr(data-valueString);
}

.bar .holder {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    position: absolute;
}

.bar .value {
    background-color: currentColor;
    height: 100%;
    transition: width .75s ease-out;
}

.bar .corner {
    height: 5px;
    width: 5px;
    position: absolute;
}

.bar .corner.top {
    top: 0;
    border-top: solid 1px whitesmoke;
}

.bar .corner.left {
    border-left: solid 1px whitesmoke;
    left: 0;
}

.bar .corner.right {
    border-right: solid 1px whitesmoke;
    right: 0;
}

.bar .corner.bottom {
    border-bottom: solid 1px whitesmoke;
    bottom: 0;
}