body {
  margin: 40px 0;
  line-height: 1.6;
  margin-left: auto;
  padding: 0 1em;
  margin-right: auto;
  max-width: 31rem;
  color: #444;
  background: #eee;
  font-family: "Libre Baskerville", Georgia, Times, serif;
  font-weight: normal; }

#overlay {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px;
  filter: invert(100%);
  background-color: red;
  opacity: .9;
  border-radius: 50%;
  left: 50px; }

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.3; }

.boxlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .boxlist div {
    text-align: left;
    cursor: pointer;
    border: solid 1px currentColor;
    margin: 1px;
    width: 150px;
    position: relative;
    height: 150px; }
    .boxlist div header {
      position: absolute;
      bottom: 5px;
      left: 5px;
      top: calc(100% - 25px);
      right: 5px;
      transition: opacity .3s ease-out;
      font-size: 12px !important; }
    .boxlist div main {
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 30px;
      position: absolute;
      opacity: 0.5;
      margin: 0;
      text-overflow: ellipsis;
      height: 120px;
      font-size: 11px !important;
      transition: opacity .3s ease-out; }
      .boxlist div main p {
        margin: 0; }
    .boxlist div:hover main {
      opacity: 1; }
    .boxlist div:hover header {
      opacity: .3; }

.listview {
  font-size: .9em; }
  .listview div {
    padding-bottom: 1em; }
    .listview div header {
      margin: 0;
      padding: 0; }
      .listview div header h1 {
        font-size: 1.2em; }
    .listview div main {
      line-height: 1.2; }
      .listview div main > *:first-child {
        margin: 0; }
      .listview div main h1 {
        line-height: 1.3; }

body > header {
  font-weight: bold;
  display: flex;
  padding-bottom: 1em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }
  body > header h1 {
    display: block; }

body > main {
  text-align: justify; }

body > header nav ul {
  margin: 0;
  padding: 0; }
  body > header nav ul li {
    display: inline;
    text-transform: lowercase; }
    body > header nav ul li:not(:first-child) {
      margin-left: .5em; }

a {
  color: inherit;
  text-decoration: none; }
  a[href] {
    cursor: pointer; }

@media (max-width: 481px) {
  body {
    font-size: .9em; }
    body > header {
      flex-direction: column; } }

.notwide {
  margin: 0 auto;
  max-width: 25em; }

@media (min-width: 641px) {
  body {
    font-size: 1em;
    max-width: 41rem; }
  .notwide {
    margin: 0 auto;
    max-width: 31em; } }

.break {
  margin: 0 auto;
  display: block; }
