$color-force: #DA4453;
$color-blossom: lighten($color-force, 20%);
$color-fade: $color-force;
$color-bg: #120c0e;
$color-bg-alt: #40363a;
//  $color-text: #dedce5;
$color-text: #d9d8dc;
$font-size-base: 1.8rem;
$font-family-sans-serif: Verdana,
Geneva,
sans-serif;
$font-family-serif: serif;
@import 'sakura';
.info {
    font-style: italic;
}

body {
    header {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: $font-family-sans-serif;
        nav {
            font-size: 1.2em;
        }
    }
}

.boxlist {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    .listitem {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
        max-width: 100%;
        img {
            width: 70px;
            flex: 0 0 70px;
            height: 70px;
            border: solid 1px currentColor;
            flex-grow: 0;
            flex-shrink: 0;
        }
        .right {
            display: flex;
            flex-direction: column;
            margin-left: 1em;
            position: relative;
            width: 100%;
            header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                h3 {
                    padding: 0;
                    margin: 0;
                    line-height: 1.2;
                    font-size: 1.1em;
                }
            }
            span {
                width: 100%;
                text-overflow: ellipsis;
                overflow: hidden;
                p {
                    margin: 0;
                    line-height: 1.2;
                }
            }
        }
    }
}

p {
    text-align: justify;
}

ul.horizontal,
ol.horizontal {
    margin: 0;
    padding: 0;
    display: inline;
    li {
        display: inline;
        text-transform: lowercase;
        &:not(:first-child) {
            margin-left: .5em;
        }
        &:after {
            content: ',';
        }
        &:last-child:after {
            content: '.';
        }
    }
}

@media (max-width: 475px) {
    body {
        &>header {
            h1 {
                text-align: center;
            }
        }
        .boxlist {
            .listitem {
                .right {
                    header {
                        display: block;
                    }
                }
            }
        }
    }
}

// Small
@media (max-width: 684px) {
    body {
        &>header {
            flex-direction: column;
        }
    }
}

// Very small
@media (max-width: 382px) {}

svg.break {
    margin: 0 auto; // width: 200px;
    display: block;
    circle,
    line {
        stroke: currentColor;
        fill-opacity: 0;
    }
}