.columns-1 { 
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
}
.columns-2 { 
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
}

.columns h2{
    -webkit-column-span: all;
    -moz-column-span: all;
    -ms-column-span: all;
    -o-column-span: all;
    column-span: all;

}